@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{

    background-color: #252525;
    height: 100vh;
    color: white;
    display: grid;
    place-items: center;
}
.info{
    padding: 2rem;
    border: 2px solid white;
    border-radius: 20px;
    height: 90%;
    width: 50%;
    font-size: 1.76rem;
    font-family: 'Poppins', sans-serif;
}
#back{
    height: 5%;
    width: 20%;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: white;
    
}

#back:hover {
    cursor: pointer;
}
@media (max-width:1062px) {
    html{
        font-size: 50%;
    }
}
@media (max-width:614px) {
    html{
        font-size: 40%;
    }
    .info{
        width: 85%;
    }
    #back{
        font-size:2.5rem;
    }
}